.form-control.affiliate-input{
    box-shadow: 0 1px 10px rgba(21 100 211 / 50%)!important;
}

.forgot-password-div{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.login-form-button{
    display:flex;
    justify-content:center;
}

/* .ant-input-affix-wrapper{
    border: 1px solid #0043a4 !important;
} */

/* ***********************************MEDIA QUERY******************************* */

@media screen and (max-width:375px) {
    .card-body.custome-made{
        padding: 0;
    }

    .forgot-password-div > .small-right > small{
        text-align: end;
    }
}

@media screen and (min-width:376px) and (max-width:424px) {
    .card-body.custome-made{
        padding:0rem
    }
}

@media screen and (min-width:425px) and (max-width:767px) {
    .card-body.custome-made{
        padding:0rem
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .card-body.custome-made{
        padding:0rem
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .card-body.custome-made{
        padding:0rem
    }
}

@media screen and (min-width:1440px) and (max-width:2539px) {
    .card-body.custome-made{
        padding:3rem
    }
}

@media screen and (min-width:2540px) {
    .card-body.custome-made{
        padding:3rem
    }
    
}